/build/
/dist/
/toolchain/*.tar.gz
/toolchain/*.sha256
/vendor/dbus/
/__pycache__/
*.pyc
/examples/monitor/pilot-monitor
/examples/monitor/pilot-monitor-shared
/examples/monitor/pilot-monitor-static
/examples/lcd/pilot-lcd
/examples/lcd/pilot-lcd-shared
/examples/lcd/pilot-lcd-static
